
html, body {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../imagen/9e12d1c4-eb8f-4aa1-abbb-68b5f465d04a.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.contenedor {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.739);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.imagen-contenedor {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.imagen-circular {
    width: 90px;
    height: 90px;
    border-radius: 300%;
    object-fit: cover;
    background-color: aliceblue;
}

form {
    display: inline-block;
    width: 100%;
}

label {
    display: block;
    margin: 10px 0 5px;
}

input[type="text"], input[type="password"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #242526;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #4e4f50;
}

p {
    text-align: center;
    margin-top: 20px;
}

a {
    color: #939a96;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
